*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    font-family: sans-serif;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

.hide{
    display: none;
}

.header1{
    background-color: #050521;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}

.menu{
    display: inline;
}

.line1{
    width: 25px;
    height: 2px;
    background-color: #333;
    transition: 0.4s;
}

.line2{
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.line3{
    width: 25px;
    height: 2px;
    background-color: #333;
    transition: 0.4s;
}

.header2{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    width: 96%;
}

header{
    border-bottom: 1px solid #05052180;
}

.name{
    font-size: 20px;
    display: flex;
    gap: 2px;
}

.name2{
    font-weight: bolder;
}

.items{
    display: flex;
    font-size: 20px;
    gap: 7px;
}

/* .fa-heart{ */
    /* color: #fff; */
    /* text-shadow: 0 0 1px #050521; */
    /* text-shadow: -1px 0 #050521, 0 1px #050521, 1px 0 #050521, 0 -1px #050521; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: #050521; */
/* } */

/* .fa-shopping-cart{ */
    /* color: #fff; */
    /* text-shadow: 0 0 1px #050521; */
    /* text-shadow: -1px 0 #050521, 0 1px #050521, 1px 0 #050521, 0 -1px #050521; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: #050521; */
/* } */

.items1, .items2{
    position: relative;
}

.high1, .high2{
    position: absolute;
    font-size: 10px;
    background-color: #050521;
    color: #fff;
    padding: 2px 4.5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: -4px;
    left: 10px;
}

.bars{
    position: fixed;
    top: 0;
    left: -350px;
    height: 100vh;
    width: 350px;
    background-color: #fff;
    color: #050521;
    z-index: 1000;
    transition: 0.4s;
    overflow-y: scroll;
    /* display: none; */
}

.cartbars{
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 350px;
    background-color: #fff;
    color: #050521;
    z-index: 1000;
    transition: 0.4s;
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    /* display: none; */
}

.cartheader{
    padding: 10px;
    letter-spacing: 1px;
    border-bottom: 2px solid #050521;
    margin-bottom: 10px;
}

.cartbody{
    display: flex;
    padding: 0 10px;
    margin-bottom: 5px;
    /* height: 80px; */
}

.cartbody1 img{
    width: 60px;
    height: 80px;
    /* object-fit: cover; */
}

.cartbody2{
    width: 80%;
    padding: 5px 10px 0;
}

.cartbody3{
    width: 10%;
    margin: 33px 0;
}

.cartbody3 button{
    border: none;
    background-color: inherit;
}

.cartline1{
    width: 25px;
    height: 2px;
    background-color: #050521;
    margin: 4px 0;
    transform: translate(0,3.5px) rotate(-45deg);
}

.cartline2{
    width: 25px;
    height: 2px;
    background-color: #050521;
    margin: 4px 0;
    transform: translate(0,-3.5px) rotate(45deg);
}

.cartbody2a{
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
}

.cartbody2b{
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
}

.cartbody2c{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.cartbody2d{
    border: 1px solid #05052180;
    display: inline-block;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 2px;
}

.cartbody2dbody{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    /* justify-content: center; */
    /* margin-top: -5px; */
}

.cartminus{
    color: #05052180;
    padding-right: 2px;
}

.cartplus{
    padding-left: 2px;
    color: #05052180;
}

.cartscroll{
    height: 80vh;
    overflow-y: scroll;
}

.cartdown{
    position: absolute;
    z-index: 2000;
    background-color: #fff;
    padding: 10px;
    width: 100%;
}

.cartdown1 span{
    display: block;
    font-weight: bold;
}

#subtotalAmount{
    display: inline;
}

.cartdown1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cartdown2 span{
    letter-spacing: 1px;
    background-color: #050521;
    color: #fff;
    display: block;
    text-align: center;
    padding: 7px 0;
    border-radius: 4px;
}
/* .display{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 50;
} */

.search input{
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #f3f3f3;
    outline: none;
    border-radius: 2px;
    border: none;
}

.search input::placeholder{
    color: #050521;
}

.search{
    padding: 15px;
}

#menuback{
    position: fixed;
    left: -40px;
    top: 34px;
    transition: 0.4s;
}

#menuback .line1{
    background-color: #fff;
    transform: translate(0,6px) rotate(-45deg);
}

#menuback .line2{
    opacity: 0;
}

#menuback .line3{
    background-color: #fff;
    transform: translate(0,-6px) rotate(45deg);
}

.bars2 span{
    padding: 14px;
    display: block;
    border-top: 1px solid #05052180;
}

.socials{
    position: absolute;
    bottom: 5px;
    left: 45%;
}

.double{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 14px;
}

.filter{
    border: 1px solid #05052180;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    margin: 14px 0;
    cursor: default;
}

.filtermenu .line1{
    background-color: #fff;
    transform: translate(0,6px) rotate(-45deg);
}

.filtermenu .line2{
    opacity: 0;
}

.filtermenu .line3{
    background-color: #fff;
    transform: translate(0,-6px) rotate(45deg);
}

.filtermenu{
    position: fixed;
    left: -65%;
    top: 34px;
    /* transition: 0.4s; */
}

.displayfilter{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #fff;
    color: #050521;
    z-index: 1000;
    /* transition: 0.1s; */
    overflow-y: scroll;
    /* display: none; */
}

.pricefilter{
    padding: 0 15px 30px;
}

.pricefilter1{
    padding-bottom: 15px;
    display: block;
}

.range-slider-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-between; */
  }

  .range-slider {
    width: 50%;
    margin: auto 0;
    height: 5px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
  }

  .range-slider-handle {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .range-fill {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 123, 255, 0.3);
  }

  #minHandle {
    left: 0;
  }

  #maxHandle {
    left: 100%;
  }

  .range-values {
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }

  .range-values1{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
  }

  .range-values button {
    border: none;
    background-color: #050521;
    color: #fff;
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 14px;
    margin-top: -8px;
  }

  .productcategories{
    padding: 0 15px;
  }

  .productcategories1{
    display: block;
    margin-bottom: 20px;
  }

  .productcategories2, .productcategories3{
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
  }

  .productcategories2 button{
    background-color: inherit;
    border: none;
    font-size: 15px;
    display: block;
  }

  .productcategories2 form{
    display: inline-block;
  }

  .productcategories4{
    margin-bottom: 30px;
    padding: 0 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .productcategories4 button{
    background-color: inherit;
    border: none;
    font-size: 14px;
    display: block;
  }

  
  .productcategories4 form{
    display: inline-block;
  }

  .productcategories5{
    margin-bottom: 20px;
    display: block;
  }

  .productcategories6{
    margin-bottom: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .productcategories6 li{
    display: flex;
    justify-content: space-between;
  }

  
  .productcategories6 button{
    background-color: inherit;
    border: none;
    font-size: 14px;
  }

/* I use those property to make the fa fontawesome thin */
/* .fa-filter{ */
    /* color: #fff; */
    /* text-shadow: 0 0 1px #050521; */
    /* text-shadow: -1px 0 #050521, 0 1px #050521, 1px 0 #050521, 0 -1px #050521; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: #050521; */
/* } */

.latest select{
    border: 1px solid #05052180;
    border-radius: 2px;
    padding: 5px;
    outline: none;
    letter-spacing: 1px;
}

.latest option{
    letter-spacing: 1px;
}

section{
    padding: 0 8px;
}

.listing{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-content: center;
    flex-wrap: wrap;
    /* cursor: pointer; */
    margin-bottom: 30px;
}

.image{
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.imageup{
    position: absolute;
    font-size: 15px;
    background-color: #fff;
    color: #050521;
    padding: 10px 12px;
    top: 0px;
    right: 0;
}

.imageup .fa-shopping-cart{
    font-size: 10px;
}

.addcart{
    background-color: #ACA9BB;
}

.removecart{
    background-color: fff;
}

.imagedown button{
    border: none;
    position: absolute;
    font-size: 15px;
    background-color: #fff;
    color: #050521;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    bottom: 4px;
    right: 4px;

}

.listing .fa-heart{
    font-size: 12px;
}

.removewishlist{
    color: #050521;
}

.addwishlist{
    color: #ff0000;
}

.select{
    position: relative;
    cursor: default;
}

.optionup{
    width: 100%;
    height: 76px;
    margin: auto;
    padding:7px 0 10px;
    position: absolute;
    background-color: #fff;
    top: -79px;
    opacity: -1;
    transition: 0.1s;
}

.optionupflex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.optionup span{
    border: 1px solid #05052180;
    padding: 2.5px 5px;
    font-size: 13px;
}

.optionup span:hover{
    border: 1px solid #050521;
}

.putspace{
    padding: 2.5px 8.5px !important;
}

.optiondown{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    font-size: 13px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #05052180;
    bottom: -32px;
    opacity: -1;
    z-index: 2;
    transition: 0.1s;
}

.optiondown1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 8.5px 5px;
}

.invisible{
    display: none;
}

.minus, .plus{
    color: #05052180;
}

.optiondown1 span{
    display: inline-block;
}

.optiondown2{
    position: relative;
    width: 60%;
    padding: 8.5px 0;
}

.optiondown2::after{
    content: '';
    position: absolute;
    background-color: #05052180;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 99%;
}

.fabutton{
    background-color: inherit;
    border: none;
}

.listing1, .listing2{
    width: 150px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

}

.desc{
    text-align: center;
}

.desc1{
    /* color: #918d8d; */
    display: block;
    margin-bottom: 10px;
}

.desc2{
    color: #050521;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
}

.desc3{
    font-size: 11px;
    letter-spacing: 1px;
    border: 1px solid #05052180;
    border-radius: 2px;
    padding: 10px;
    display: block;
    position: relative;
    z-index: 1;
}

.numbers{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 14px;
}

.activefooter{
    background-color: #050521;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    margin-top: -5px;
}

@media (min-width: 700px) {

    .double{
        width: 100%;
        text-align: center;
        padding: 25px 0;
        font-size: 14px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    .latest{
        margin: auto 0;
    }
    
    .filter{
        border: 1px solid #05052180;
        display: inline-block;
        padding: 6px 10px;
        border-radius: 2px;
        margin: 14px 0;
    }


}

@media (min-width: 1000px) {

    .listing{
        width: 80%;
        margin: auto;
    }

}

@media (max-width: 900px) {

    .range-slider {
        width: 100%;
      }


}

@media (max-width: 400px) {

    .bars{
        width: 80%;
    }

    .cartbars{
        width: 80%;
    }

    .cartbody2a{
        display: block;
        font-weight: bold;
        margin-bottom: 3px;
    }
    
    .cartbody2b{
        font-size: 13px;
        margin-bottom: 1px;
    }

    .cartbody2dbody{
        margin-top: -1px;
    }

    .display #menuback{
        visibility: hidden;
    }

    .range-slider {
        height: 3px;
      }

      .range-slider-handle {
        width: 8px;
        height: 8px;
      }

      .range-values1, .range-values button{
        font-size: 12px;
      }

}